.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000050;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  &_balls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    :nth-child(2) {
      animation-delay: 0.3s;
    }

    :nth-child(3) {
      animation-delay: 0.6s;
    }

    div {
      background: #567e5f;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      transition: all 0.3s ease;
      animation: loading 0.9s linear infinite;
    }
  }

  p {
    color: white;
    font-size: 24px;
  }
}

@keyframes loading {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}
