.chatContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }

  .messageList {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .message {
    margin-bottom: 10px;
    max-width: 70%;
    display: flex;
  }

  .myMessage {
    align-self: flex-end;
    .messageContent {
      background-color: #dcf8c6;
      border-radius: 10px 10px 0 10px;
    }
  }

  .otherMessage {
    align-self: flex-start;
    .messageContent {
      background-color: #f1f0f0;
      border-radius: 10px 10px 10px 0;
    }
  }

  .messageContent {
    padding: 10px;
    p {
      margin: 0;
    }
    strong {
      font-weight: bold;
    }
  }

  .timestamp {
    font-size: 0.75em;
    color: #888;
    display: block;
    text-align: right;
    margin-top: 5px;
  }

  .messageInput {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;

    input {
      flex-grow: 1;
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 10px;
      margin-right: 10px;
    }

    button {
      border: none;
      background-color: #215E04;
      color: white;
      border-radius: 20px;
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        background-color: #2e7d06;
      }
    }
  }